/* Icons / Icon Font  */
@font-face {
    font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
    unicode-range: U+E000-E142, U+FE0E;
}
@font-face {
	font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
	font-weight: 240;
	unicode-range: U+E000-E142, U+FE0E;
}
@font-face {
	font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
	unicode-range: U+E000-E142, U+FE0E;
	font-weight: 400;
}
@font-face {
	font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
	unicode-range: U+E000-E142, U+FE0E;
	font-weight: 600;
}
@font-face {
	font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
	unicode-range: U+E000-E142, U+FE0E;
	font-weight: 800;
}
@font-face {
	font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
	unicode-range: U+E000-E142, U+FE0E;
	font-style: italic;
}
@font-face {
    font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
    unicode-range: U+E000-E142, U+FE0E;
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
    unicode-range: U+E000-E142, U+FE0E;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
    unicode-range: U+E000-E142, U+FE0E;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Icons';
    src: url('//static.cargocollective.com/assets/social/IconFont-Regular-0.8.woff?content');
    unicode-range: U+E000-E142, U+FE0E;
    font-weight: 800;
    font-style: italic;
}

body.iconfont-loading, body.iconfont-loading * {
    color: transparent!important;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

body.no-scroll {
  overflow: hidden;
}

/*!
 * Content
 */

.page {
	word-wrap: break-word;
}

:focus {
	outline: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}


/*
.pointer-events-none .page_content > *:not([grid-row]):not([grid-col]),
.pointer-events-none .page_content > * *:not([grid-row]):not([grid-col]) {
  pointer-events: auto;
}*/

.pointer-events-none .page_content a,
.pointer-events-none .page_content img,
.pointer-events-none .page_content iframe,
.pointer-events-none .page_content video,
.pointer-events-none .page_content audio,
.pointer-events-none .page_content input,
.pointer-events-none .page_content button,
.pointer-events-none .page_content .audio-player
{
  pointer-events: auto;
}

/* This fixes links in IE 鈥� for some reason they don't get pointer-events: auto; without */
.pointer-events-none .page_content > a,
.pointer-events-none .page_content * > a {
  position: relative;
}

/*[data-adminview] .pointer-events-none .page_content[data-ce-host="true"] {
  pointer-events: auto;
}*/

/* Strikethru */
s * {
    text-transform: inherit;
}

/**
 * Cargo toolset
 */
#toolset {
  position: fixed;
  bottom: 10px; right: 10px;
  z-index: 8;
}

.mobile #toolset,
.template_site_inframe #toolset {
  display: none;
}

#toolset a {
    display: block;
    height: 24px; width: 24px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: rgba(0,0,0,.2);
}

#toolset a:hover {
  background: rgba(0,0,0,.8);
}

[data-adminview] #toolset a,
[data-adminview] #toolset_admin a {
  background: rgba(0,0,0,.04);
  pointer-events: none;
  cursor: default;
}

#toolset_admin a:active {
  background: rgba(0,0,0,.7);
}

#toolset_admin a {
    border-radius: 2px;
}

#toolset_admin a svg {
  pointer-events: none;
  width: 100% !important;
  height: auto !important;
}
/*
#toolset_admin a:after {
    content: '鈱�';
    color: white;
    font-size: 14px;
    line-height: 20px;
}*/

/**
 * Following & Private Persona Icons
 */

#following-container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#following-container iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#following-container-overlap {
    position: fixed;
    height: 100%;
    width: 50px;
    background: purple;
    right: -48px;
    z-index: -2;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background: #212121;
}

/**
 * Slick
 */

 /* custom slick elements */

[data-in-transition].slideshow .slide_caption {
    opacity: 0;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;

    -moz-box-sizing: border-box;
	    box-sizing: border-box;

    -webkit-user-select: none;
	  -moz-user-select: none;
	   -ms-user-select: none;
		  user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
	   touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	   -ms-transform: translate3d(0, 0, 0);
	    -o-transform: translate3d(0, 0, 0);
		  transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.content .slick-slide img {
    display: inline-block;
}

.content .slick-slide img:not(.image-zoom) {
    cursor: pointer;
}


.content .slick-slide img[src=''], .content .slick-slide img:not([src]) {
  width: 100%;
  height: auto;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
  position: absolute;
  z-index: 9;
  width: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  will-change:opacity;
  -webkit-transition:opacity 333ms cubic-bezier(.4,0,.22,1);
  transition:opacity 333ms cubic-bezier(.4,0,.22,1);
}

.slick-arrow.hidden {
  opacity: 0;
}

.slick-arrow svg {
    position: absolute;
    height: 56px;
    width: 46px;
    padding: 10px 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.slick-arrow svg:active {
  opacity: 0.75;
}

.slick-arrow svg .arrow-shape {
  fill: #fff;
}

.slick-arrow svg .arrow-outline {
  fill: #000;
  opacity: 0.2;
}

.slick-arrow.slick-next {
  right: 0;
  text-align: right;
}

.slick-arrow.slick-next svg {
    transform: scaleX(-1);
    margin-right: 20px;
}

.mobile .slick-arrow.slick-next svg {
  margin-right: 10px;
}

.slick-arrow.slick-prev {
  text-align: left;
}

.slick-arrow.slick-prev svg {
    margin-left: 20px;
}

.mobile .slick-arrow.slick-prev svg {
    margin-left: 10px;
}


/***
 * Loading Pulse
***/
.loading_animation {
    display: none;
    vertical-align: middle;
    z-index: 15;
    line-height: 0;
    pointer-events: none;
    border-radius: 100%;
}

.loading_animation.hidden {
  display: none;
}

.loading_animation.pulsing {
    /* animation starts at 0 opacity*/
    opacity: 0;
    display: inline-block;
    /* wait 100ms for animation to start*/
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    /* 500ms fadein */
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation: fade-pulse-in .5s ease-in-out;
    -moz-animation: fade-pulse-in .5s ease-in-out;
    -webkit-animation: fade-pulse-in .5s ease-in-out;
    /* Keep the 100% opacity */
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.loading_animation.pulsing.no-delay {
    /* override to no delay*/
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

.loading_animation div {
    border-radius: 100%;
}

.loading_animation div svg {
    max-width: 100%;
    height: auto;
}

.loading_animation div,
.loading_animation div svg {
    width: 20px;
    height: 20px;
}

.loading_animation.full-width svg {
  width: 100%;
  height: auto;
}

.loading_animation.full-width.big svg {
  width: 100px;
  height: 100px;
}

.loading_animation div svg > * {
    fill: #ccc;
}

.loading_animation div {
    /* wait for the fadein to finish*/
    /*animation-delay: .7s;*/
    /*-webkit-animation-delay: .7s;*/
    /*-moz-animation-delay: .7s;*/
    /* cycle through pulsate animation */
    -webkit-animation: spin-loading 12s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: spin-loading 12s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: spin-loading 12s ease-out;
    animation-iteration-count: infinite;

}

.loading_animation.pulsing.no-delay div {
    /* less delay when no delay on fading in*/
    /*animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;*/
}

.loading_animation.hidden {
	display: none;
}

[data-backdrop] .loading_animation {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 99;
}

.loading_animation.position-absolute.middle {
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

.loading_animation.position-absolute.topleft {
    top: 0;
    left: 0;
}

.loading_animation.position-absolute.middleright {
    top: calc(50% - 10px);
    right: 1rem;
}

.loading_animation.gray div svg > * {
    fill: #999;
}
.loading_animation.gray-dark div svg > * {
    fill: #666;
}
.loading_animation.gray-darker div svg > * {
    fill: #555;
}
.loading_animation.gray-light div svg > * {
    fill: #ccc;
}
.loading_animation.white div svg > * {
    fill: rgba(255,255,255,.85);
}
.loading_animation.blue div svg > * {
    fill: #698FFF;
}

.loading_animation.inline {
    display: inline-block;
    margin-bottom: .5ex;
}

.loading_animation.inline.left {
    margin-right: .5ex;
}

/* Fade-pulse-in animation */
@-webkit-keyframes fade-pulse-in {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}
@-moz-keyframes fade-pulse-in {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}
@keyframes fade-pulse-in {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}

/* pulsing animation */
@-webkit-keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}
@-moz-keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}
@keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}

/*spinning */
@-webkit-keyframes spin-loading {
  0% {
    transform: rotate(0deg);
  }
  9% {
    transform: rotate(1050deg);
  }
  18% {
    transform: rotate(-1090deg);
  }
  20% {
    transform: rotate(-1080deg);
  }
  23% {
    transform: rotate(-1080deg);
  }
  28% {
    transform: rotate(-1095deg);
  }
  29% {
    transform: rotate(-1065deg);
  }
  34% {
    transform: rotate(-1080deg);
  }
  35% {
    transform: rotate(-1050deg);
  }
  40% {
    transform: rotate(-1065deg);
  }
  41% {
    transform: rotate(-1035deg);
  }
  44% {
    transform: rotate(-1035deg);
  }
  47% {
    transform: rotate(-2160deg);
  }
  50% {
    transform: rotate(-2160deg);
  }
  56% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(45deg);
  }
  80% {
    transform: rotate(6120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin-loading {
  0% {
    transform: rotate(0deg);
  }
  9% {
    transform: rotate(1050deg);
  }
  18% {
    transform: rotate(-1090deg);
  }
  20% {
    transform: rotate(-1080deg);
  }
  23% {
    transform: rotate(-1080deg);
  }
  28% {
    transform: rotate(-1095deg);
  }
  29% {
    transform: rotate(-1065deg);
  }
  34% {
    transform: rotate(-1080deg);
  }
  35% {
    transform: rotate(-1050deg);
  }
  40% {
    transform: rotate(-1065deg);
  }
  41% {
    transform: rotate(-1035deg);
  }
  44% {
    transform: rotate(-1035deg);
  }
  47% {
    transform: rotate(-2160deg);
  }
  50% {
    transform: rotate(-2160deg);
  }
  56% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(45deg);
  }
  80% {
    transform: rotate(6120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/**
 * Grid / Columns
 */

[grid-row] {
    align-items: flex-start;
    box-sizing: border-box;

    display: -webkit-box; display:
    -webkit-flex; display:
    -ms-flexbox; display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

[grid-col] {
    box-sizing: border-box;
}

[grid-row] [grid-col].empty:after {
    content: "\0000A0";
    cursor: text;
}

[grid-col="auto"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

[grid-col="x12"] { width: 100%; }
[grid-col="x11"] { width: 50%; }
[grid-col="x10"] { width: 33.33%; }
[grid-col="x9"] { width: 25%; }
[grid-col="x8"] { width: 20%; }
[grid-col="x7"] { width: 16.666666667%; }
[grid-col="x6"] { width: 14.285714286%; }
[grid-col="x5"] { width: 12.5%; }
[grid-col="x4"] { width: 11.111111111%; }
[grid-col="x3"] { width: 10%; }
[grid-col="x2"] { width: 9.090909091%; }
[grid-col="x1"] { width: 8.333333333%; }

[grid-col="1"] { width: 10%; }
[grid-col="2"] { width: 15%; }
[grid-col="3"] { width: 25%; }
[grid-col="4"] { width: 30%; }
[grid-col="5"] { width: 40%; }
[grid-col="6"] { width: 50%; }
[grid-col="7"] { width: 58.33333%; }
[grid-col="8"] { width: 66.66667%; }
[grid-col="9"] { width: 75%; }
[grid-col="10"] { width: 83.33333%; }
[grid-col="11"] { width: 91.66667%; }
[grid-col="12"] { width: 100%; }

body.mobile [grid-responsive] [grid-col] {
    width: 100%;
    -webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}


/*

for reference
[grid-pad="0"] { padding: 0; }
[grid-pad="1"] { padding: 0.5rem; }
[grid-pad="2"] { padding: 1rem; }
[grid-pad="3"] { padding: 2rem; }
[grid-pad="4"] { padding: 4rem; }
*/

[data-ce-host="true"][contenteditable="true"] [grid-pad] {
  pointer-events: none;
}

[data-ce-host="true"][contenteditable="true"] [grid-pad] > * {
  pointer-events: auto;
}

[grid-pad="0"] {
  padding: 0;
}

[grid-pad="0.25"] {
  padding: .125rem;
}

[grid-pad="0.5"] {
  padding:-0.25rem;
}

[grid-pad="0.75"] {
  padding: .375rem;
}

[grid-pad="1"] {
  padding: .5rem;
}

[grid-pad="1.25"] {
  padding: .625rem;
}

[grid-pad="1.5"] {
  padding: .75rem;
}

[grid-pad="1.75"] {
  padding: .875rem;
}

[grid-pad="2"] {
  padding: 1rem;
}

[grid-pad="2.5"] {
  padding: 1.25rem;
}

[grid-pad="3"] {
  padding: 1.5rem;
}

[grid-pad="3.5"] {
  padding: 1.75rem;
}

[grid-pad="4"] {
  padding: 2rem;
}

[grid-pad="5"] {
  padding: 2.5rem;
}

[grid-pad="6"] {
  padding: 3rem;
}

[grid-pad="7"] {
  padding: 3.5rem;
}

[grid-pad="8"] {
  padding-left: 7rem;
  padding-top: 4rem;
}

[grid-pad="9"] {
  padding: 4.5rem;
}

[grid-pad="10"]{
  padding: 5rem;
}

[grid-pad="12"]{
  padding-left: 2rem;
  padding-top: 4rem;
  padding-right: 2rem;
}

[grid-pad="13"] {
  padding-left: 2rem;
  padding-top: 4rem;
}

[grid-pad="14"] {
  padding-left: 0rem;
  padding-top: 4rem;
  padding-right: -4rem;
}

[grid-pad="15"] {
  padding-left: 12rem;
  padding-top: -5rem;
  padding-right: -4rem;
}

[grid-pad="17"] {
  padding-left: 15rem;
  padding-top: 4rem;
}

[grid-pad="18"] {
  padding-top: 1rem;
  padding-left: 6rem;
  padding-bottom: 4rem;
}

[grid-pad="19"] {
  padding-left: 12rem;
  padding-top: 12rem;
}

[grid-pad="20"] {
  padding-left: 15rem;
  padding-top: 5rem;
}

[grid-pad="21"] {
  padding-left: 10.5rem;
  padding-top: 12rem;
}

[grid-pad="22"] {
  padding-left: 7rem;
  padding-top: 6rem;
  padding-right: 1rem;
}

[grid-pad="23"] {
  padding-left: 1rem;
  padding-top: 6rem;
  padding-right: 1rem;
}

[grid-pad="24"] {
  padding-left: 5rem;
}

[grid-pad="25"] {
  padding: 4rem;
}

[grid-pad="26"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

[grid-pad="27"] {
  padding-left: 6rem;
  padding-top: 4rem;
}

[grid-pad="28"] {
  padding-left: 3rem;
  padding-top: 4.5rem;
  padding-right: 2rem;
}

[grid-pad="29"] {
  padding-left: 6rem;
  padding-top: 0rem;
}

[grid-pad="30"] {
  padding-left: 2rem;
  padding-right: 0rem;
  padding-top: 9rem;
}

[grid-pad="31"] {
  padding-left: 7rem;
  padding-right: 0rem;
  padding-top: 0rem;
}

[grid-pad="32"] {
  padding-top: 3.5rem;
  padding-left: 6rem;
  padding-bottom: 4rem;
}

[grid-pad="33"] {
  padding-left: 8rem;
  padding-right: 0rem;
  padding-top: 2.5rem;
}

[grid-pad="34"] {
  padding-bottom: 5rem;
}

/**
Gutters
**/


[grid-gutter="0"] {
  margin: 0rem;
}

[grid-gutter="0.5"] {
  margin: -.25rem;
}

[grid-gutter="1"] {
  margin: -.5rem;
}

[grid-gutter="1.5"] {
  margin: -.75rem;
}

[grid-gutter="2"] {
  margin: -1rem;
}

[grid-gutter="2.5"] {
  margin: -1.25rem;
}

[grid-gutter="3"] {
  margin: -1.5rem;
}

[grid-gutter="3.5"] {
  margin: -1.75rem;
}

[grid-gutter="4"] {
  margin: -2rem;
}

[grid-gutter="5"] {
  margin: -2.5rem;
}

[grid-gutter="6"] {
  margin: -3rem;
}

[grid-gutter="7"] {
  margin: -3.5rem;
}

[grid-gutter="8"] {
  margin: -4rem;
}

[grid-gutter="10"]{
  margin: -5rem;
}

[grid-gutter="12"]{
  margin: -6rem;
}

[grid-gutter="14"]{
  margin: -7rem;
}

[grid-gutter="16"]{
  margin: -8rem;
}

[grid-gutter="18"]{
  margin: -9rem;
}

[grid-gutter="20"]{
  margin: -10rem;
}

[grid-gutter="22"]{
  margin-left: -8rem;
  margin-top: -7rem;
  margin-right: 1rem;
}

[grid-gutter="23"]{
  margin-left: 2rem;
  margin-top: 2rem;
}

[grid-gutter="24"] {
  margin: 1rem;
}

[grid-gutter="25"]{
  margin-left: -7rem;
  margin-top: -3rem;
  margin-right: 1rem;
}

/* Clearfix */
/*.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}*/

/* Fix for small tag inside of flex elements */
small {
    max-width: 100%;
    text-decoration: inherit;
}

img.image-zoom {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

/* Cargo Link */
 #imprimatur {
    color: #333333;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons /*!System*/;
    position: fixed;
    opacity: 0.3;
    right: -28px;
    bottom: 160px;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    z-index: 8;
    text-transform: uppercase;
    color: #999;
    opacity: .5;
    padding-bottom: 2px;
    text-decoration: none;
}

.mobile #imprimatur {
  display: none;
}

/*bodycopy cargo-link {
	height: 10rem;
	display: inline-block;
}*/

bodycopy a {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons /*!System*/;
	font-size: 12px;
    font-style: normal;
	font-weight: 400;
	transform: rotate(270deg);
	text-decoration: none;
    position: fixed !important;
    right: -27px;
    bottom: 100px;
    text-decoration: none;
    letter-spacing: normal;
    background: transparent;
    border: 0;
    border-bottom: 0;
    outline: 0;
}

/*
 *	Audio Player
 */

 body.audio-player-dragging * {
	cursor: ew-resize !important;
}

.audio-player {
    display: inline-flex;
    flex: 1 0 calc(100% - 2px);
    width: calc(100% - 2px);
}

.audio-player .button {
    height: 100%;
    flex: 0 0 3.3rem;
    display: flex;
}

.audio-player .separator {
    left: 3.3rem;
    height: 100%;
}

.audio-player .buffer {
    width: 0.0%;
    height: 100%;
    transition: left .3s linear, width .3s linear;
}

.audio-player.seeking .buffer {
    transition: left 0s, width 0s;
}

.audio-player.seeking {
	user-select: none;
	-webkit-user-select: none;
	cursor: ew-resize;
}

.audio-player.seeking * {
	user-select: none;
	-webkit-user-select: none;
	cursor: ew-resize;
}

.audio-player .bar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-grow: 1;
}

.audio-player .progress {
    width: 0%;
    height: 100%;
    transition: width .3s linear;
}

.audio-player.seeking .progress {
    transition: width 0s;
}

.audio-player .pause,
.audio-player .play {
    cursor: pointer;
    height: 100%;
}

.audio-player .note-icon {
    margin: auto 0;
    order: 2;
    flex: 0 1 auto;
}

.audio-player .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  user-select: none;
  padding: 0.5rem 0 0.5rem 1rem;
  margin: auto auto auto 0;
  flex: 0 3 auto;
  min-width: 0;
  width: 100%;
}

.audio-player .total-time {
	flex: 0 1 auto;
	margin: auto 0;
}

.audio-player .current-time,
.audio-player .play-text {
  flex: 0 1 auto;
  margin: auto 0;
}

.audio-player .play-text,
.audio-player .current-time,
.audio-player .total-time,
.audio-player .note-svg,
.audio-player .buffer,
.audio-player .separator {
    user-select: none;
    pointer-events: none;
}


.audio-player .buffer,
.audio-player .progress,
.audio-player .play-text {
    position: absolute;
}

.audio-player,
.audio-player .note-icon,
.audio-player .play,
.audio-player .pause,
.audio-player .bar,
.audio-player .total-time,
.audio-player .current-time,
.audio-player .button {
    position: relative;
}

body.mobile .audio-player,
body.mobile .audio-player * {
	-webkit-touch-callout: none;
}

/*
 *  Standalone Admin
 */

#standalone-admin-frame {
  border: 0;
  width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 99;
}

body[standalone-admin="true"] #standalone-admin-frame {
	/*transition: transform .3s ease;*/
	transform: translate(0, 0);
}

body[standalone-admin="true"] .main_container {
	/*transition: width .3s ease;*/
	width: calc(100% - 400px);
}

body[standalone-admin="false"] #standalone-admin-frame {
	/*transition: transform .3s ease;*/
	transform: translate(100%, 0);
}

body[standalone-admin="false"] .main_container {
	/*transition: width .3s ease;*/
	width: 100%;
}

.toggle_standaloneAdmin {
	position: fixed;
    top: 0;
    right: 400px;
    height: 40px;
    width: 40px;
    z-index: 999;
    cursor: pointer;
    background-color: rgba(0,0,0,.4);
}

.toggle_standaloneAdmin:active {
	opacity: .7;
}

body[standalone-admin="false"] .toggle_standaloneAdmin {
	right: 0;
}

.toggle_standaloneAdmin * {
	color: #fff;
	fill: #fff;
}

.toggle_standaloneAdmin svg {
	/*margin-top: -1px;*/
	padding: 6px;
	width: 100%;
	height: 100%;
	opacity: .85;
}

body[standalone-admin="true"] .toggle_standaloneAdmin #backdropsettings,
body[standalone-admin="false"] .toggle_standaloneAdmin #close {
	display: none;
}

.toggle_standaloneAdmin > div {
	width: 100%;
	height: 100%;
}

/* admin toggle */

#admin_toggle_button {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 400px;
  height: 36px;
  width: 12px;
  z-index: 999;
  cursor: pointer;
  background-color: rgba(0,0,0,.09);
  padding-left: 2px;
  margin-right: 5px;
}

#admin_toggle_button .bar {
	content:'';
	background: rgba(0,0,0,.09);
	position: fixed;
	/*cursor: e-resize;*/
	width: 5px;
	bottom: 0;
	top: 0;
	z-index: 10;
}

#admin_toggle_button:active {
  background: rgba(0,0,0,.065);
}

#admin_toggle_button * {
  color: #fff;
  fill: #fff;
}

#admin_toggle_button svg {
  padding: 0;
  width: 16px;
  height: 36px;
  margin-left: 1px;
  /*opacity: .85;*/
  opacity: 1;
}

#admin_toggle_button svg * {
	fill: #fff;
	opacity: 1;
}

#admin_toggle_button[data-state="closed"] .toggle_admin_close {
  display: none;
}

#admin_toggle_button[data-state="closed"],
#admin_toggle_button[data-state="closed"] .toggle_admin_open {
	width: 20px;
	cursor: pointer;
	margin: 0;
}
#admin_toggle_button[data-state="closed"] svg {
	/*padding-left: 4px;*/
	margin-left: 2px;
}

#admin_toggle_button[data-state="open"] .toggle_admin_open {
  display: none;
}
