/*
 * Everything in this file must be present on the frontend
 * (and probably not the admin) for the layout to work.
 */

/** Reset and base */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: none;
	font-family: Verdana, Geneva, sans-serif;
}
customhtml > * {
    position: relative;
    z-index: 10;
}
html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
html {
    touch-action: manipulation;
    position: relative;
    background-color: rgb(255, 255, 255);
}

/** Flex layout */
/* Flex parent - center flex children */
.main_container {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    max-width: 100%;
    width: 100%;

    overflow: visible;
}

.container {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.page {
    z-index: 2;
}


/**
 * Ensures the bullet points in lists display in the correct position.
 * If the text-limit element is not block, the bullet point moves to the bottom
 * of the li, instead of the top.
 */

.page ul li > text-limit {
    display: block;
}

/* Flex child - grow to fill parent */
.content,
.content_container,
.pinned {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;

    max-width: 100%; /* No wider than the parent */
}

.content_container {
    width: 100%;
}

.content_container.full_height {
    min-height: 100vh;
}

.page_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/** Stacking */
/* Contains both the page and backdrop */
.page_container {
    position: relative;
    overflow: visible;
    width: 100%;
}

/* Backdrop */
.backdrop {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.backdrop > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
}

[data-backdrop].backdrop > div[data-overflowing] {
    max-height: 100vh;
    position:absolute;
    top:0;
    left:0;
}

/** split responsive behavior **/
body.mobile [split-responsive] {
    display: flex;
    flex-direction:column;
}

body.mobile [split-responsive] .container {
    width: 100%;
    order: 2;
}

body.mobile [split-responsive] .backdrop {
    position: relative;
    height: 50vh;
    width: 100%;
    order: 1;
}

body.mobile [split-responsive] [data-auxiliary].backdrop {
    position: absolute;
    height: 50vh;
    width: 100%;
    order: 1;
}

.page {
    position: relative;
    z-index: 2;
}

img[data-align="left"] {
    float: left;
}

img[data-align="right"] {
    float: right;
}


/** classes to determine the transition that happens when scrolling **/
.content .scroll-transition-fade {
    transition: transform 1s ease-in-out, opacity .8s ease-in-out;
}

.content .scroll-transition-fade.below-viewport {
    opacity: 0;
    transform: translateY(40px);
}


/** Mobile Page Width 100% except for split layout (not responsive) pages */
.mobile.full_width .page_container:not([split-layout]) .container_width {
    width: 100%;
}

/** Pinned pages and their accommodations */
.pinned {
    position: relative;
    width: 100%;
}

.pinned .page_container.accommodate:not(.fixed):not(.overlay) {
    z-index: 2;
}

.pinned .page_container.overlay {
    position: absolute;
    z-index: 4;
}

.pinned .page_container.overlay.fixed {
    position: fixed;
}

.pinned .page_container.overlay.fixed .page {
    /*overflow: hidden;*/
    max-height: 100vh;
    -webkit-overflow-scrolling: touch;
}

.pinned .page_container.overlay.fixed .page.allow-scroll {
    overflow-y: auto;
}

.pinned .page_container .page.allow-scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}

.pinned.pinned_top .page_container.overlay {
    left: 0;
    top: 0;
}

.pinned.pinned_bottom .page_container.overlay {
    left: 0;
    bottom: 0;
}

/**
 * Thumbnails
 */
.thumbnails {
    position: relative;
    z-index: 1;
}

[thumbnails="grid"] {
    align-items: baseline;
}

[thumbnails="justify"] .thumbnail {
    box-sizing: content-box;
}

[thumbnails][data-padding-zero] .thumbnail {
    margin-bottom: -1px;
}

[thumbnails="montessori"] .thumbnail {
    pointer-events:auto;
    position: absolute;
}

[thumbnails="montessori"] [data-can-move].thumbnail,
[thumbnails="montessori"] [data-can-move].thumbnail a {
    cursor: move;
}

[thumbnails] .thumbnail > a {
    display: block;
    text-decoration: none;
}

[thumbnails="montessori"] {
    height: 0;
}

[thumbnails][data-resizing], [thumbnails][data-resizing] * {
    cursor: nwse-resize;
}

[thumbnails] .thumbnail .resize-handle {
    cursor: nwse-resize;
    width: 26px;
    height: 26px;
    padding: 5px;
    position: absolute;

    opacity: .75;
    right: -1px;
    bottom: -1px;
    z-index: 100;
}

[thumbnails][data-resizing] .resize-handle {
    display:none;
}

[thumbnails] .thumbnail .resize-handle svg {
    position: absolute;
    top: 0;
    left: 0;
}

[thumbnails] .thumbnail .resize-handle:hover {
    opacity: 1;
}

[data-can-move].thumbnail .resize-handle svg .resize_path_outline {
    fill: rgba(255,255,255,1);
}

[data-can-move].thumbnail .resize-handle svg .resize_path {
    fill: rgba(0,0,0,1);
}



[thumbnails="montessori"] .thumbnail_sizer{
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    pointer-events:none;
}

[thumbnails] .thumbnail img {
    display: block;
    margin-bottom: 0;
}

[aspect-ratio="1x1"].thumb_image {
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

[aspect-ratio="4x3"].thumb_image {
    height: 0;
    padding-bottom: 75%;
    overflow:hidden;
}

[aspect-ratio="16x9"].thumb_image {
    height: 0;
    padding-bottom: 56.25%;
    overflow:hidden;
}

[thumbnails] .thumb_image {
    position: relative;
}

[thumbnails][thumbnail-vertical-align="top"] {
    align-items: flex-start;
}

[thumbnails][thumbnail-vertical-align="middle"] {
    align-items: center;
}

[thumbnails][thumbnail-vertical-align="bottom"] {
    align-items: baseline;
}

[thumbnails][thumbnail-horizontal-align="left"] {
    justify-content: flex-start;
}

[thumbnails][thumbnail-horizontal-align="middle"] {
    justify-content: center;
}

[thumbnails][thumbnail-horizontal-align="right"] {
    justify-content: flex-end;
}

.thumb_image.default_image > svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.thumb_image.default_image {
    outline: 1px solid #ccc;
    outline-offset: -1px;
    position: relative;
}

/** Mobile Thumbnails Width 100% */
.mobile.full_width [data-view="Thumbnail"] .thumbnails_width {
    width: 100%;
}

/* Site Menu Button */

#site_menu_button {
    display: block;
    text-decoration: none;
    pointer-events: auto;
    z-index: 9;
    vertical-align: top;
    cursor: pointer;
    box-sizing: content-box;
    font-family: 'Icons';
}

#site_menu_button.custom_icon {
     padding: 0;
     line-height: 0;
}

#site_menu_button.custom_icon img {
    width: 100%;
    height: auto;
}

#site_menu_wrapper.disabled #site_menu_button {
    display: none;
}

#site_menu_wrapper.mobile_only #site_menu_button {
    display: none;
}

body.mobile #site_menu_wrapper.mobile_only:not(.disabled) #site_menu_button:not(.active) {
    display: block;
}

/*#site_menu div.set-link a + [data-set-wrapper] {*/
/*#site_menu [data-set-wrapper].indent {
    margin-left: 20px;
}*/

/*#site_menu .spacer {
     height: 28px;
}*/

.site_menu .close {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    line-height: 50px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    user-select: none;
}

#site_menu_panel_container .page_container {
    position: fixed;
    top: 0; right: 0; left: 0;
    background: transparent;
    z-index: 9;
}

/* Shop Button */
#shop_button {
    display: block;
    text-decoration: none;
    pointer-events: auto;
    z-index: 9;
    vertical-align: top;
    cursor: pointer;
    box-sizing: content-box;
    font-family: 'Icons';
}

#shop_button.custom_icon {
     padding: 0;
     line-height: 0;
}

#shop_button.custom_icon img {
    width: 100%;
    height: auto;
}

#shop_button.disabled {
    display: none;
}


/*Loading animation*/
.loading[data-loading] {
  display: none;
  position: fixed;
  bottom: 8px; left: 8px;
  z-index: 100;
}

/* New Site button */
.new_site_button_wrapper {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Sans Serif', Icons;
  font-style: normal;
  line-height: 1.4;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}
/*
.new_site_button {
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    line-height: 0;
}*/

body.template_site #toolset {
    display: none !important;
}

body.mobile .new_site_button {
    display: none;
}

/*.new_site_button #create_site_svg {
    width: 50px;
    height: 50px;
}

.new_site_button #create_site_svg .cls-1 {
    fill: #0fce83;
}

.new_site_button #create_site_svg .cls-2 {
    fill:none;
}

.new_site_button #create_site_svg .cls-3 {
    fill:none;
    stroke:#fff;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width: 2.5px;
}*/

.new_site_button {
    display: flex;
    height: 44px;
    cursor: pointer;
}

.new_site_button .plus {
    width: 44px;
    height: 100%;
}

.new_site_button .plus svg {
    width: 100%;
    height: 100%;
}

.new_site_button .plus svg line {
  stroke: #000;
  stroke-width: 2px;
}

.new_site_button .plus:after,
.new_site_button .plus:before {
    content: '';
    width: 30px;
    height: 2px;
}

.new_site_button .text {
    background: #0fce83;
    display: none;
    padding: 7.5px 15px 7.5px 15px;
    height: 100%;
    font-size: 20px;
    color: #222;
}

.new_site_button:active {
    opacity: .8;
}

.new_site_button.show_full .text {
    display: block;
}

.new_site_button.show_full .plus {
    display: none;
}


/*.new_site_button.show_full:after {
    pointer-events: none;
    content: 'Make a site with this template?';
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 20px;
    font-size: 24px;
    z-index: 9999;
    line-height: .95;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}*/
/*
.new_site_button.show_full svg {
    left: auto;
    position: absolute;
    right: 0;
}*/

html:not(.admin-wrapper) .template_site #confirm_modal [data-progress] .progress-indicator:after {
    content: 'Generating Site...';
    padding: 7.5px 15px;
    right: -200px;
    color: #000;
}

/**
 * Marker
 */
bodycopy svg.marker-overlay,
bodycopy svg.marker-overlay * {
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    box-sizing: initial;
}

bodycopy svg#svgroot {
    box-sizing: initial;
}

bodycopy svg.marker-overlay {
    padding: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    min-height: 1px;
    overflow: visible;
    pointer-events: none;
    z-index: 999;
}

bodycopy svg.marker-overlay * {
    pointer-events: initial;
}

bodycopy svg.marker-overlay text {
    letter-spacing: initial;
}

bodycopy svg.marker-overlay a {
    cursor: pointer;
}
