/**
 * Content
 */

body {
	background-color: #fff;
	color: #000;
}

a:active {
	opacity: 0.7;
}

.page a.active {
	opacity: .4;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

sub,
sup {
	position: relative;
	vertical-align: baseline;
}

sub {
	top: 0.3em;
}

sup {
	top: -0.4em;
}

s {
	text-decoration: line-through;
}

img {
	border: 0;
	padding: 0;
	max-width: 100%;
  max-height: 100%;
	text-align:center;
	vertical-align:middle;
}

ul,
ol {
	margin: 0;
	padding: 0 0 0 0;
}

blockquote {
	margin: 0;
	padding: 0 0 0 0;
}

hr {
	background: rgba(127, 127, 127, 0.2);
	border: 0;
	height: 1px;
	display: block;
}

.content img {
	float: none;
	margin-bottom: 0em;
}

.gallery_image_caption {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
	line-height: 1.3;
	font-family: 'NHaasGroteskTXPro');
	font-style: normal;
	font-weight: 400;
	color: rgba(41, 41, 41, 0.3);
}

footer {
	background-color: black;
}

@font-face {
		font-family: 'NHaasGroteskTXPro';
		src: url("assets\fonts\NHaasGroteskTXPro-65Md.ttf");
	}

/**
 * Loading Animation
 */

.loading[data-loading] {
	position: fixed;
	bottom: 8px;
    left: 8px;
}

/**
 * Editor styles
 */

[data-predefined-style="true"] bodycopy {
	font-size: 1.7rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.4);
	font-family: 'NHaasGroteskTXPro';
	font-style: normal;
	line-height: 1.4;
}

[data-predefined-style="true"] bodycopy a {
	font-size: 1.7rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.4);
	font-family: 'NHaasGroteskTXPro';
	font-style: normal;
	line-height: 1.4;
}

[data-predefined-style="true"] bodycopy a:hover {
}

bodycopy a.image-link,
bodycopy a.icon-link,
bodycopy a.image-link:hover,
bodycopy a.icon-link:hover {
	border-bottom: 0;
	padding-bottom: 0;
}

[data-predefined-style="true"] h1 {
	font-family: "NHaasGroteskTXPro" url('assets\fonts\NHaasGroteskTXPro-75Bd.ttf');
	font-style: normal;
	font-weight: 700;
	padding: 0;
	margin: 0;
	font-size: 4rem;
	line-height: 4rem;
	color: rgb(41, 41, 41);
	text-rendering: optimizeLegibility;
}

[data-predefined-style="true"] h2 {
	font-family: "NHaasGroteskTXPro" url('assets\fonts\NHaasGroteskTXPro-75Bd.ttf');
	font-style: normal;
	font-weight: 700;
	padding: 0;
	margin: 0;
	font-size: 2rem;
	line-height: 2.4rem;
	color: rgb(41, 41, 41);
	text-rendering: optimizeLegibility;
}

[data-predefined-style="true"] h1 a {
	color: rgb(41, 41, 41);
    border-bottom: 1px solid rgb(41, 41, 41);
}


[data-predefined-style="true"] h2 a {
	color: rgb(41, 41, 41);
    border-bottom: 1px solid rgb(41, 41, 41);
}

[data-predefined-style="true"] small {
	display:inline-table;
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: 'NHaasGroteskTXPro' url('assets\fonts\NHaasGroteskTXPro-55Rg.ttf');
	font-style: normal;
	color: rgba(41, 41, 41, 0.3);
}

[data-predefined-style="true"] small a {
	color: rgba(0, 0, 0, 0.6);
}

/**
 * Breakpoints
 */


[data-css-preset] .page {
    background-color: initial /*!page_bgcolor*/;
}

.mobile .page,
[data-css-preset].mobile .page {
	position: relative;
	min-height: 10px;
	max-width: 100%;
	width: 100%;
	background-color: transparent /*!page_bgcolor*/;
}

[data-css-preset] .container {
	margin-left: auto /*!content_center*/;
	margin-right: auto /*!content_center*/;
	text-align: left /*!text_left*/;
}

[data-css-preset] body {
	background-color: rgb(255, 255, 255) /*!body_bgcolor*/;
}

[data-css-preset] .container_width {
	width: 95%/*!content_center*/;
}

[data-css-preset] .content_padding {
	padding-top: 7.5rem /*!main_margin*/;
	padding-bottom: 7.5rem /*!main_margin*/;
	padding-left: 7.5rem /*!main_margin*/;
	padding-right: 7.5rem /*!main_margin*/;
}


[data-css-preset] text-limit {
	display: inline-block /*!text_width*/;
	max-width: 66rem/*!text_width*/;
}

/**
 * Thumbnails
 */

div[thumbnails] {
	justify-content: flex-start;
}

[data-css-preset] .thumbnails {
   	background-color: transparent/*!thumbnails_bgcolor*/;
}

[data-css-preset] .thumbnails_width {
    width: 100%/*!thumbnails_width*/;
}

[data-css-preset] [thumbnails-pad] {
    padding: 1.3rem/*!thumbnails_padding*/;
}

[data-css-preset] [thumbnails-gutter] {
    margin: -2.6rem/*!thumbnails_padding*/;
}

[data-css-preset] [responsive-layout] [thumbnails-pad] {
    padding: 1rem/*!responsive_thumbnails_padding*/;
}

[data-css-preset] [responsive-layout] [thumbnails-gutter] {
    margin: -2rem/*!responsive_thumbnails_padding*/;
}

.thumbnails .thumb_image {
	outline: 1px solid rgba(0,0,0,.12);
    outline-offset: -1px;
}

.thumbnails .title {
    margin-top: 1.2rem;
    margin-bottom: .3rem;
    font-size: 1.7rem;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.85);
	font-family: 'NHaasGroteskTXPro'url('assets\fonts\NHaasGroteskTXPro-55Rg.ttf');
	font-style: normal;
	line-height: 1.3;
}

.thumbnails .tags {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
	line-height: 1.3;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.35);
	font-family: 'NHaasGroteskTXPro'url('assets\fonts\NHaasGroteskTXPro-55Rg.ttf');
	font-style: normal;
}

.thumbnails .tags a {
	border-bottom: 0;
    color: rgba(0, 0, 0, 0.35);
    text-decoration: none;
}

.thumbnails .has_title .tags {
	margin-top: 0rem;
}

/**
 * Site Menu
 */

[data-css-preset] #site_menu_button {
    color: rgba(0, 0, 0, 0.75);
    line-height: 1;
    font-size: 28px /*!site_menu_button*/;
    padding: 6px;
    line-height: 1;
    background: rgba(33, 32, 46, 0);
    position: fixed;
    top: .8rem /*!site_menu_button*/;
	right: 1.5rem /*!site_menu_button*/;
}

body.mobile #site_menu_button {
	margin: -6px;
    font-size: 34px;
}

#site_menu_button.custom_icon {
	width: 40px;
    height: auto;
}

#site_menu_button.active {
	display: none;
}

/**
 * Site Menu
 */

#site_menu {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons /*!System*/;
	background: rgba(20, 20, 20, 0.95);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	padding: 20px 30px 60px 30px;
	max-width: 400px;
	min-width: 300px;
	text-align: left;
	display: flex;
	justify-content: flex-start;
}

body.mobile #site_menu {
	width: 100%;
}

#site_menu .page-link a {
	color: rgba(255, 255, 255, 0.75);
}

#site_menu .set-link > a {
	color: rgba(255, 255, 255, 0.75);
	font-weight: bold;
}

#site_menu a:active {
	opacity: .7;
}

#site_menu a.active {
	opacity: .4;
}

#site_menu .close {
	display: none;
	color: rgba(255, 255, 255, 0.4);
	line-height: .85em;
	font-size: 45px;
}

body.mobile #site_menu .close {
	display: block;
	font-size: 50px;
	line-height: 1em;
}

#site_menu .break {
	height: 28px;
}

#site_menu .indent {
	margin-left: 28px;
}


/*
 * Image Zoom
 */

.content img.image-zoom:active {
  opacity: .7;
}

.image-zoom-background {
	background: rgba(255, 255, 255, 0.95);
}


/*
 * hover effect
 */
body {
	background: #fdfdfd;
	color: #fff;
	padding: 0;
	margin: 5;
}

h1 {
	text-align: left;
	position: relative;
	font-weight: bold;
}

h2 {
	position: relative;
	font-weight: bold;
}

a {
  color: #fff;
}

.w {
  margin: 0 auto;
  white-space: normal;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(255, 255, 255, 0.5) repeat fixed;
  background-position: 100% 100%;
  background-size: cover;
  position: relative;
  z-index: 5;
  font-size: 0;
}

.i {
  width:10%;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 4;
  padding: 2px;
  transition: all 1.0s ease-in-out;
  background-size: cover;
  background-position: 100% 100%;
  border-radius: 0%;
}
.i:hover {
  transition: all 0s linear;
  background: repeat fixed;
  opacity: 100;
  background-size: cover;
}

.h {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 50px;
}

/**
 * Feed
 */

.feed .content_container .page {
    border-top: 0px dashed rgba(0, 0, 0, 0.2);
}

.feed .content_container .page_container:first-child .page {
	border-top: 0;
}



/*
 * Audio Player
 */

.audio-player {
    max-width: 36rem;
    height: 3.3rem;
    outline: 1px solid rgba(0,0,0,0.15);
    color: rgba(0, 0, 0, 0.6);
    background: #fff;
    font-size: 1.2rem;
    line-height: 1.3;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons/*!System*/;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin: 1px 1px 1em 1px;
}

body.mobile .audio-player {
    max-width: 100%;
}

.audio-player .separator {
    width: 1px;
    background-color: rgba(0,0,0,0.15);
}

.audio-player .button {
    background: transparent;
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.85);
}

.audio-player .icon {
    fill: rgba(0, 0, 0, 0.85);
    padding: 30%;
    width: 100%;
    margin: auto;
}

.audio-player .buffer {
    background: rgba(0,0,0,0.03);
}

.audio-player .progress {
    background: rgba(0,0,0,0.1);
}

.audio-player .progress-indicator {
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 1px;
    height: 100%;
    right: 0;
    position: absolute;
    cursor: ew-resize;
}

.audio-player .note-icon {
    height: 100%;
    width: 3.8rem;
    padding: 1rem;
    fill: rgba(0, 0, 0, 0.5);
}

.audio-player .current-time {
    padding-left: 1rem;
}

.audio-player .total-time {
    padding-right: 1rem;
}

a{ text-decoration: none;}
